.bustile {
	background-color: rgba($color-white-light, 0.2);
	border: 0.1rem solid $color-grey;
	min-height: 12rem;
	border-radius: 0;
	box-shadow: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
	&__departure, &__arrival {
		text-align: center;

		& > h3 {
			margin-top: 0.5rem;
		}
	}

	&--line {
		padding: 0 9rem;
		margin: 0 1rem;
		border-bottom: .2rem dashed $color-grey;
	}

	// for spacing between data
	& > div {
		margin-right: 10rem;

		&:last-child {
			margin-right: 0;
			& > div {
				border-radius: 0;
			}
		}

		&:nth-child(3),&:nth-child(4) {
			margin-right: 0;
		}
	}

}