@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.no-wrap{white-space: nowrap;}

.b{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.4;
	color: $color-black;
	box-sizing: border-box;
	
	&--2{ font-size: 1.8rem;}
	
	&--3{ font-size: 1.4rem; }
	
	&--4{ font-size: 1rem; }
	
	&--5{ font-size: 0.8rem }

	&--white{ color: $color-white !important; }
	
	&--white-light{color: $color-white-light !important;}
}

.c{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 1.8em;
	line-height: 1;
	color: $color-black;
	box-sizing: border-box;
	font-style: italic;

	&--2{ font-size: 1.6rem;}

	&--3{ font-size: 1.2rem; }

	&--white{ color: $color-white; }
}

.h{
	color: $color-black;
	font-family: 'Poppins', sans-serif;
	cursor: default;
	transition: all 0.2s ease-in-out;
	font-size: 3rem; 

	
	&--l1 {font-size: 4rem; font-weight: 500;}
	
	&--l2 {font-size: 3.5rem; font-weight: 400;}
	
	&--2{ font-size: 2.4rem; font-weight: 400; }
	
	&--3{ font-size: 2.2rem; font-weight: 300; }
	
	&--4{ font-size: 2rem; font-weight: 300; }
	
	&--white{color: $color-white !important;}

	&--disabled {
		opacity: 50%;
		text-decoration: none !important;
	}
}

.d{
	color: $color-black;
	font-family: 'Poppins', sans-serif;
	cursor: default;

	&--1{ font-size: 5rem; font-weight: 300;}
	&--2{ font-size: 3rem; font-weight: 400;}
}

.a{
	color: $color-black;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;

	&--1{ font-size: 1.8rem; }

	&--2{ font-size: 1.6rem; }

	&--danger{ color: $color-red }

	&--success{ color: $color-green-dark }

	&--warning{ color: $color-yellow }
	
	&--info{ color: $color-blue-dark }


	&--l{
		font-weight: 400 !important;
		font-size: 2.4rem !important;
	}
}

.text {
	&--disabled {
		opacity: 40%;
	}

	&--dis70 {
		opacity: 70%;
	}

	&--center {
		text-align: center;
	}

	&--bold {
		font-weight: bold;
	}
}